/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
.opciones_menu{
	color: #FFF;
	font-size: 28px;
	font-weight: bolder;
	padding: 20px 0px;
	font-family: 'Bowlby One', cursive;
}

a{
	color: #FFF;
	text-decoration: none;
}

a:visited{
	color: #FFF;
}

.input_registro{
	width:356px;
	height:21px;
	*margin-top:0px;
	margin-top:10px;
}
#form_registro{
	width:356px;
}

.label_form{
	font-family: 'Bowlby One', cursive;
	text-align: left;
	display:none;
	margin-top:10px;
	*margin-top:2px;
	*display: block;
}

#boton_registro{
	margin-top:10px;
}

#container{
 width: 1280px;
 height: 833px;
 text-align: center;
 background: url(../img/proximamente.jpg) no-repeat center;
 position: absolute;
 margin: 0 auto;
}

#menu{
 width:56px;
 height:74px;
	position: relative;
	left: 56px;
	top: 376px;

	*left:10px;
	*float:left;
 background-image:url(../img/menu.png);
 cursor: pointer;
}

#tab_menu{
 width: 469px;
 height: 633px;
 background-color: #008130;
 position: absolute;
 display: none;
 left: -477px;
 padding-top: 200px;
 z-index: 1;
}

.opciones_menu a:hover{
 width: 469px;
 background-color: #007236;
}

#footerv{
width: 1280px;
height: 71px;
position: relative;
top: 833px;
background-image: url(../img/footer.png);

}

#footemec{
width: 1280px;
height: 71px;
position: relative;
top: 759px;
background-image: url(../img/footer.png) no-repeat;

}
#politicas{
 width:175px;
 height:15px;
 position:relative;
 left:286px;
 top:43px;
}

#terminos{
 width:128px;
 height:15px;
 position:relative;
 left:516px;
 top:29px;	
}

#youtube{
 width:108px;
 height:32px;
 position:relative;
 left:879px;
 top:-10px;	
}

#twitter{
 width:93px;
 height:32px;
 position:relative;
 left:1018px;
 top:-43px;	
}

#facebook{
 width:123px;
 height:32px;
 position:relative;
 left:1136px;
 top:-75px;	
}

#desplegable{
 width:468px;
 height:833px;
 margin-left:0px;
 margin-top:-833px;
 background-image:url(img/desplegable.png);
 visibility:hidden;
}

#video{
 width:356px;
 height:220px;
	position: relative;
	left: 672px;
	top:100px;
	*left:180px;
	*top:200px;
}

#input{
 width:100%;	
}

#bases{
 width:842px;
 height:268px;
 overflow:auto;	
 font-family: 'Bowlby One', cursive;

 position: relative;
top: 251px;
left: 234px;
}
.link{
	color: #007317;
 	font-family: 'Bowlby One', cursive;
 	text-transform: uppercase;
 	text-decoration: underline;
 	font-size: 14px;
}


