@charset "utf-8";
/* CSS Document */

#container{
 float:left;
 width:1280px;
 height:833px;
 position:relative;
 align:middle;
}

#menu{
 width:56px;
 height:74px;
 margin-left:56;
 margin-top:376;
 background-image:url(img/menu.png);
}

#footer{
 width:1280px;
 height:71px;
 margin-top:312;
 background-image:url(img/footer.png);	
}

#twitter{
 width:93px;
 height:32px;
 margin-top:19px;
 margin-left:1018px;
}

#facebook{
 width:123px;
 height:32px;
 margin-top:-32;
 margin-left:1137;
}

#desplegable{
 width:468px;
 height:833px;
 margin-left:0px;
 margin-top:-833px;
 background-image:url(img/desplegable.png);
 visibility:hidden;
}